body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

#image {
    width: 500px;
    height: 300px;
    margin: 20px auto;
    border: 2px solid black;

    background-color: lightgray;
    background-image: url('');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    cursor: pointer;
}